<nav class="navbar">
  <div class="container">
      <ul class="ulMenu">
          <li><a href="#"><i class="pi pi-home" style="color: black;"></i>Home</a></li>
          <li><a href="#"><i class="pi pi-user-edit" style="color: black;"></i>Cadastrar Visitante</a></li>
          <li><a href="#"><i class="pi pi-user-edit" style="color: black;"></i> Cadastrar Visita</a></li>
          <li><a href="#"><i class="pi pi-unlock" style="color: black;"></i>Login</a></li>
          <li><a href="#"><i class="pi pi-power-off" style="color: black;"></i>Sair</a></li>
     </ul>
    </div>
</nav>
