.navbar{
  margin: 0px;
  padding: 20px 0 4px;
  background-color: #1e94d2;

}

.ulMenu,li,a{
   color: azure;
   font-weight: bold;
   font-size: 17px;
   padding-inline: 0px 20px;
   list-style-type: none;
   display: inline;
   text-decoration: none;

}

.ulMenu,:hover{
  color: black

}
