<div class="container">

    <br />
    <h2>Tela cadastro de visitante</h2>

    <form>

      <div class="p-grid">
           <div class="p-col-5 p-fluid">
                <label>Nome</label>
                <input type="text" pInputText>
           </div>

            <div class="p-col-2 p-fluid">
                <label>CPF</label>
                <input type="text" pInputText>
            </div>


            <div class="p-col-3 p-fluid">
              <label>Telefone</label>
              <input type="text" pInputText>
          </div>

          <div class="p-col-12">
            <button pButton type="button" label="Cadastrar"></button>
        </div>
      </div>

    </form>
    <br/>

    <div class="p-grid">

          <div class="p-col-5 p-fluid">
               <input type="text" pInputText>
          </div>

          <div class="p-col-3">
               <button pButton type="button" label="Pesquisar"></button>
          </div>
    </div>

    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="registros" [paginator]="true" rows="2" styleClass="p-datatable-striped">
          <ng-template pTemplate="header">
            <tr>
              <th class="col-data-header">Nome</th>
              <th class="col-data-header">CPF</th>
              <th class="col-valor-header">Telefone</th>
              <th class="col-data-header" style="align-content:center; width: 117px; "></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-registro>
            <tr>
              <td class="col-data-content">{{ registro.nome }}</td>
              <td class="col-data-content">{{ registro.cpf }}</td>
              <td class="col-valor-content">{{ registro.telefone }}</td>
              <td>
                <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>&nbsp;
                <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>




</div>
