/* Formatação do padding dos formulários */
@media (min-width: 768px){
.p-md-3 {
    padding: 0rem!important;
}
@media (min-width: 768px){
.p-md-3 {
    padding: 0rem!important;
}
}}

/* Fo, da formatação do padding dos formulários */

.col-valor-header {
  width: 120px;
}

.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
}

.col-data-content {
  text-align: center;
}
