<app-navbar></app-navbar>

<div class="container">
  <h1>Bem vindo ao Sistema</h1>
  <div class="sobre-class">
    <p-card  header="Olá!" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
      <ng-template pTemplate="header">
          <img alt="Card" src="assets/img/reception.jpg">
      </ng-template>
      <p>Seja muito bem vindo(a) ao sistema de portaria.
          Aqui você pode cadastrar os visitantes
          e sempre que esse visitante fazer uma visita
          você pode relacionar esse visitante a uma visita.</p>
  </p-card>
  </div>

</div>
